.supplier_background_image {
  background-image: url("./supplier_Background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  min-height: 30%;
  top: 70vh;
  z-index: -1;
  text-align: center;
  font-size: larger;
}
.supplier_first_div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1%;
}
.supplier_login_button {
  color: rgb(158, 25, 70);
  margin-left: 28%;
  position: relative;
}
.supplier_form_div {
  position: relative;
  left: 6%;
  top: 55%;
  box-shadow: 1px 1px 5px rgb(212, 198, 198);
  width: fit-content;
}
.supplier_meesho_logo {
  background-image: url("./MeeshoLogo.svg");
  min-width: 8%;
  background-repeat: no-repeat;
  position: relative;
  right: 15%;
  background-size: contain;
  margin-left: 9%;
}
.suplier_second_div {
  display: flex;
  flex-direction: row;
}
.suplier_second_div_second_div {
  position: relative;
  left: 6%;
  width: 50%;
  text-align: center;
  margin-top: 5%;
  font-size: large;
}
.supplier_second_div_second_div_first {
  display: flex;
  justify-content: space-around;
  font-size: small;
}
.supplier1_part2_first_div_buttons_Start_selling {
  text-decoration: none;
}
.ssdsd_first {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-left: 18%;
}
.ssdsd_first_image1 {
  background-image: url("./ResellerIcon.svg");
  min-width: 50px;
  min-height: 50px;
  background-repeat: no-repeat;
}
.ssdsd_second {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-left: 18%;

  position: relative;
}
.ssdsd_first_image2 {
  background-image: url("./Pincode_icon.svg");
  min-width: 50px;
  min-height: 50px;
  background-repeat: no-repeat;
}
.ssdsd_first_image4_text {
  position: relative;
  right: 50%;
}
.ssdsd_first_image3 {
  background-image: url("./Customer_icon.svg");
  min-width: 50px;
  min-height: 50px;
  background-repeat: no-repeat;
}

.ssdsd_first_image4 {
  background-image: url("./Category_Icon.svg");
  min-width: 50px;
  min-height: 50px;
  position: relative;
  background-repeat: no-repeat;
  right: 50%;
}
.supplier_background_image_text {
  position: relative;
  left: 5%;
  top: 2rem;
}
.supplier1_part2_background {
  background-image: url("./Desktop-Background-1.png");
  width: 95vw;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  background-size: cover;
}
.pink-colour-text {
  color: rgb(182, 50, 105);
}

.supplier1_part2_second_div {
  background-image: url("./Desktop-Pic.png");
  width: 80%;
  height: 90%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 13%;
  margin-top: 3.8%;
}
.supplier1_part2_first_div_buttons {
  display: flex;
  width: 120%;
}
.supplier1_part3_div_1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
  margin-bottom: 10%;
}
.supplier1_part3_div_1_A {
  background-color: whitesmoke;
  min-height: 12%;
  width: 19%;
}
.supplier1_part3_div_2 {
  display: flex;
  height: fit-content;
  width: 88%;
  justify-content: space-evenly;
  margin: auto;
}
.supplier1_part3_div_2_1 {
  text-align: center;

  width: 50%;
  text-align: left;
}
.supplier1_part3_div_2_1_blank {
  height: 30%;
}

.supplier1_part3_div_2_2_common {
  display: flex;
  height: 25%;
  justify-content: space-around;

  margin-left: auto;
}
#supplier1_part3_div_2_pic1 {
  background-image: url("./icon-10.svg");
  background-repeat: no-repeat;
  background-size: 60%;
}
.supplier1_part3_div_2_pic {
  width: 25%;
}
.supplier1_part3_div_2_2 {
  align-content: center;
}
#supplier1_part3_div_2_pic2 {
  background-image: url("./icon-16.svg");
  background-repeat: no-repeat;
  background-size: 60%;
}
#supplier1_part3_div_2_pic3 {
  background-image: url("./icon-11.svg");
  background-repeat: no-repeat;
  background-size: 60%;
}
#supplier1_part3_div_2_pic4 {
  background-image: url("./icon-12.svg");
  background-repeat: no-repeat;
  background-size: 60%;
}
