.more {
  color: rgb(88, 88, 88);
  background-color: #f9f9f9;
  position: absolute;
  top: 489px;
  left: 5.9px;
  font-size: 13.5px;
  font-weight: 400;
  padding: 9px 10px;
  border-top-right-radius: 5px;
}
