#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#products div {
  width: 320px;
  margin-bottom: 46px;
  box-shadow: 1px 1px 6px 1px #a8a8a8;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  padding-bottom: 5px;
  background-color: #f9ffff;
}

#products div .main-img {
  height: 360px;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}
.product-name {
  font-size: 17px;
  font-weight: 500;
  margin: 0 12px 10px;
}
.mkt {
  margin: 0 12px 10px;
  font-size: 13px;
  color: rgb(88, 88, 88);
}
.price {
  font-size: 18px;
  font-weight: bold;
  margin: 0 12px 7px;
  line-height: 160%;
}
.aprice {
  font-size: 16px;
  text-decoration: line-through;
  font-weight: normal;
  color: rgb(88, 88, 88);
  margin: 3px;
}
.discount {
  color: #038d63;
}
.firstorder {
  color: rgb(95, 94, 94);
  font-size: 15px;
  margin: 0 12px 13px;
  display: flex;
  align-items: center;
}
.firstorder img {
  height: 23px;
  aspect-ratio: 1;
  margin-right: 7px;
}
.rating {
  margin: 0 12px 15px;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.rating span {
  background-color: #e8e9ea;
  font-size: 16px;
  font-weight: 500;
  color: #666;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 5px 10px;
  margin-right: 9px;
}
.rating svg {
  margin-left: 5px;
}
.meesho-trust {
  position: absolute;
  bottom: 12px;
  right: 13px;
}
