#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1vw;
}
#products div {
  width: 310px;
  margin: 0 10px;
  margin-bottom: 46px;
  box-shadow: 1px 1px 6px 1px #e3e3e3;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  padding-bottom: 5px;
  background-color: #f9ffff;
  transition: 01s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#products div:hover {
  transform: scale(1.03);
  box-shadow: 1px 1px 10px 1px #d0d0d0;
}
#products div .main-img {
  height: 360px;
  width: 100%;
  margin: 0;
  margin-bottom: 6px;
}
.product-name {
  font-size: 17px;
  font-weight: 500;
  margin: 0 12px 9px;
}
.mkt {
  margin: 0 12px 6px;
  font-size: 13px;
  color: rgb(88, 88, 88);
}
.price {
  font-size: 19px;
  font-weight: bold;
  margin: 0 12px 6px;
  line-height: 160%;
}
.aprice {
  font-size: 15px;
  text-decoration: line-through;
  font-weight: normal;
  color: rgb(88, 88, 88);
  margin: 3px;
}
.discount {
  color: #038d63;
  font-size: 17px;
}
.firstorder {
  color: rgb(95, 94, 94);
  font-size: 15px;
  margin: 0 12px 13px;
  display: flex;
  align-items: center;
}
.firstorder img {
  height: 23px;
  aspect-ratio: 1;
  margin-right: 7px;
}
.rating {
  margin: 0 12px 15px;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.rating span {
  background-color: #e8e9ea;
  font-size: 15px;
  font-weight: 500;
  color: #666;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 5px 10px;
  margin-right: 9px;
}
.rating svg {
  margin-left: 5px;
}
.meesho-trust {
  position: absolute;
  bottom: 12px;
  right: 13px;
}
