#bottom {
  height: 56px;
  overflow: hidden;
}
.height {
  overflow: visible !important;
  border-top: none;
  transition: 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.li {
  color: #f43397;
  border-bottom: 3.2px solid #f43397;
  transition: color 0.1s ease-in-out;
}
.pink-para {
  color: #f43397;
  font-weight: bold !important;
}
.pink-para:hover {
  color: #f43397 !important;
}
@media (max-width: 1230px) {
  #bottom li,
  #top p {
    font-size: 13px !important;
  }
}
@media (max-width: 1040px) {
  #bottom li,
  #top p {
    font-size: 9.5px !important;
  }
  #top p {
    margin: 0 5px !important;
  }
}
@media (max-width: 800px) {
  #bottom,
  #top p {
    display: none !important;
  }
  #top {
    padding-right: 33px !important;
  }
  #top #logo {
    width: 80px;
  }
}
#hidden-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  z-index: 20;
  background-color: rgba(91, 87, 87, 0.5);
  transition: 0.7s ease-in-out;
  transform: translateX(-100%);
  /* display: none; */
}
#hidden-menu article {
  background-color: #fff;
  width: 340px;
  padding: 20px;
  min-height: 100vh;
}
#hidden-menu button {
  float: right;
  margin: 15px;
  background-color: #f43397;
  color: #fff;
  border: none;
  border-radius: 50%;
  height: 35px;
  aspect-ratio: 1;
  font-size: 15px;
}
#hidden-menu svg {
  margin-bottom: 15px;
  width: 130px;
}
#profile-pic-modal {
  border: 1px solid rgb(216, 215, 215);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: center;
}
#profile-pic-modal img {
  height: 30px;
  margin-right: 5px;
}
h3 {
  background-color: #f1f5f8;
  padding: 10px;
}
.main-para {
  color: #f43397;
  height: 15px;
  overflow: hidden;
  padding: 5px;
  margin: 5px 0;
}

.sub-para {
  color: #747474;
  font-size: 90%;
  margin-left: 10px;
  padding: 7px 7px 4px;
  height: 15px;
  overflow: hidden;
}
.sub-sub-para {
  color: #000;
  margin-left: 20px;
  padding: 4px 7px;
  font-size: 90%;
}
.main-para:hover,
.sub-para:hover {
  height: fit-content;
}
.main-para > img {
  height: 19px !important;
  width: 20px !important;
  float: right;
  transform: translateY(-2px);
}
.sub-para > img {
  height: 14px !important;
  width: 15px !important;
  float: right;
  transform: translate(4.3px, -2px);
}
#hidden-menu-open {
  position: fixed;
  top: 26px;
  right: 6px;
  font-size: 23px;
  z-index: 10;
}
@media (min-width: 800px) {
  #hidden-menu-open {
    display: none;
  }
}
