.StartSelling_Main_Division {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  border: 2px solid red;
}
.StartSelling_Login_First_Div_Meesho_Background {
  height: 100%;
  width: 50%;
}
.StartSelling_Login_First_Div_image {
  height: 100%;
  width: 100%;
}
.StartSellingLoginForm {
  display: flex;
  justify-content: center;
  width: 50%;
}
.StartSellingLoginForm_Box {
  text-align: center;
  border: 2px solid whitesmoke;
  width: 80%;
  height: 70%;
  margin-top: 10%;
}
.StartSellingLoginForm_Email {
  text-align: center;
  min-width: 80%;
  min-height: 3rem;
  margin-bottom: 10%;
}
.LoginForm_Submission {
  display: flex;
  justify-content: space-evenly;
}
.Blue-colour-text {
  color: rgb(55, 43, 226);
}
.Login_FormSubmit {
  background-color: rgb(75, 75, 134);
  color: white;
  min-width: 5rem;
  min-height: 2.2rem;
}
