.StartSelling_background_image {
  background-image: url("./supplier_Background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  min-height: 30%;
  top: 70vh;
  z-index: -1;
  text-align: center;
  font-size: larger;
}
.StartSelling_first_div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1%;
}
.StartSelling_login_button {
  color: rgb(158, 25, 70);
  margin-left: 28%;
  position: relative;
}
.StartSelling_form_div {
  position: relative;
  left: 6%;
  top: 55%;
  box-shadow: 1px 1px 5px rgb(212, 198, 198);
  width: fit-content;
}
.StartSelling_meesho_logo {
  background-image: url("./MeeshoLogo.svg");
  min-width: 8%;
  background-repeat: no-repeat;
  position: relative;
  right: 15%;
  background-size: contain;
  margin-left: 9%;
}
.StartSelling_second_div {
  display: flex;
  flex-direction: row;
}
.StartSelling_second_div_second_div {
  position: relative;
  left: 6%;
  width: 50%;
  text-align: center;
  margin-top: 2.5%;
  font-size: large;
}
.StartSelling_second_div_second_div_first {
  display: flex;
  justify-content: space-around;
  font-size: small;
}

.ssdsd_first {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-left: 18%;
}
.ssdsd_first_image1 {
  background-image: url("./ResellerIcon.svg");
  min-width: 50px;
  min-height: 50px;
  background-repeat: no-repeat;
}
.ssdsd_second {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-left: 18%;

  position: relative;
}
.ssdsd_first_image2 {
  background-image: url("./Pincode_icon.svg");
  min-width: 50px;
  min-height: 50px;
  background-repeat: no-repeat;
}
.ssdsd_first_image4_text {
  position: relative;
  right: 20%;
}
.ssdsd_first_image3 {
  background-image: url("./Customer_icon.svg");
  min-width: 50px;
  min-height: 50px;
  background-repeat: no-repeat;
}

.ssdsd_first_image4 {
  background-image: url("./Category_Icon.svg");
  min-width: 50px;
  min-height: 50px;
  position: relative;
  background-repeat: no-repeat;
  right: 45%;
}
.StartSelling_background_image_text {
  position: relative;
  left: 7%;
  top: 2.5rem;
}
.greenTickImage {
  height: 1.5rem;
}
.pink-colour-text {
  color: rgb(182, 50, 105);
}
